{% extends "base.html" %}

{% block content %}

<section class="main-contacts">
    <div class="container">
        <div class="contacts_wrap">
            <div class=" contacts_wrap_img">
    <img src="./static/styles/maps.PNG"/>
            </div>
   <div class="contacts_wrap_text">
                <h2 class="title" id="contacts_title"> Контакты</h2>
<div class="contacts_wrap_text-2">
  <p>   Адрес: 220123 г. Жлобин, ул.Карла Маркса, 4 пом.146  </p>
 <p>    Время работы: Ежедневно 9.00-21.00  </p>
 <p>Телефоны: +375 (17) 366-98-88, +375 (29) 347-98-88</p>
<p>Email: helpnear@gmail.com</p>
    </div>
    </div>
</div>
    </div>
</section>
{% endblock %}