{% extends "base.html" %}

{% block content %}
<section class="main_images">
    <div class="container">
        <div class="wrap">
            <h1 class="main_title" id="main_title">
Проект создан для людей которым нужна помощь
  </h1>
       <button class="btn"> Узнать больше</button>
        </div>
    </div>
</section>


<section class='main_next'>
<div class='container'>
<div class="next_wrap">
    <div class="next_wrap_img">
<img src="./static/images/employees-giving-hands-and-helping-colleagues-to-walk-upstairs_74855-5236.webp" alt=""/>--
    </div>
<div class="next_wrap-text">
    <h2 class="title"  id="next_title"> Что мы предлагаем
      </h2>
 <div class="next_wrap-text-2">
    <p>
 Понять. Принять. Помочь - это основа деятельности тех, кто выступает здесь в качестве участников проекта. Мы объединили усилия ради посильной помощи людям. Все, собравшиеся здесь - специалисты, и знают, что все мы разные. То, что можно предложить     мне, может не подойти тебе.
    </p>
    <p>
Компания Help is near проект создан для людей которым нужна помощь по дому. Обеспечить оказание квалифицированных медицинских, социальных и иных услуг гражданам, нуждающимся
 в медико-социальной помощи на дому
</p>
 </div>
</div>
</div>
</div>
</section>
{% endblock %}