{% extends "base.html" %}

{% block content %}
<section class="main-about_us">
    <div class="container">
<div class="about_us_wrap">

        <div class="about_us_wrap_left">
            <h2 class="text">Услуги</h2>
 <p><strong>Проект создан для взаимной помощи друг другу в
  разных сферах бытовых проблем :</strong></p>
<ul>
 <li>Помощь в разрешения конфликта;</li>
<li>Помощь в бытовых вопросах;</li>
<li>Помочь с работой;</li>
<li>Помочь с жильем;</li>
<li>Помощь с детьми;</li>
    <li>Помощь с учебой.</li>
 </ul>
        </div>
 <div class="about_us_wrap_img">
    <img src="./static/styles/2.jpg">
 </div>
  <div class="about_us_wrap_right">
    <h2 class="text_1"> Кто мы?</h2>
 <p> Организацию людей в группы само- и взаимопомощи (инициативные группы), предоставление им
 возможностей для реализации внутреннего потенциала. </p>
 <p> Специалисты в разных областях деятельности с возможностью и огромным желанием помочь другим.</p>
  </div>
        </div>
    </div>
</section>
{% endblock %}